.social-icons {
  display: inline-flex;
  justify-content: center;
}

.social-icons__link {
  padding: 0.8rem;

  &:not(:last-child) {
    margin-right: 1em;
  }

  .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: dark) {
  .social-icons__icon {
    filter: invert(100);
  }
}
