.fancy {
    color: #057be2;
}

.firefighter {
    width: 3%;
}

.pvlogo {
    padding: 1%;
    background-color: #121a3f;
    color: #fff;
    width: 7%;
}

.cv {
    width: 4%;
    margin-right: 3%;
    padding-bottom: 1%;
}

.cv:hover {
    background-color: #ff0;
}

@media (prefers-color-scheme: dark) {
    .cv {
        filter: invert(100);
    }
}

@media screen and (max-width: 600px) {
    .cv {
        width: 10%;
        margin-right: 6%;
        padding-bottom: 4;
    }
}
