// custom.scss
.fancy {
    color: #057be2;
}

.firefighter {
    width: 3%;
}

.pvlogo {
    padding: 1%;
    background-color: rgb(18, 26, 63);
    color: white;
    width: 7%;
}

.cv {
    width: 4%;
    margin-right: 3%;
    padding-bottom: 1%;
}

.cv:hover {
    background-color: yellow;
}
